/* src/layout.css */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .left, .right {
    width: 45%;
  }
  
  .large-font {
    font-size: 3em;
    transform: scale(1.5);
    padding: auto;
    margin: 100px;
  }
  
  .medium-font {
    font-size: 1.2em;
    padding: auto;
  }

  .item {
	padding-top: 1rem;
	padding-bottom: 1rem;
    text-align: center;
}

  .three_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px 0;
    padding: 20px;
    /* background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

  .mid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 20px 0;
    padding: 20px;
    /* background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

  .flex{
    display: flex;
    padding: 5px;
    margin: 5px;
  }

  .hr1 {
    height: 3px;
    border-width: 0;
    background-color: #f3ecec;
    background-image: -webkit-linear-gradient(right,
    #ddd6d6 5px,#855454 5px);
    background-image: linear-gradient(-90deg,
    #ddd6d6 5px,#855454 5px);
    background-size: 10px 10px;
  }

  .wrapper{
    display: flex;
  }


  